﻿
@{
    ViewBag.Title = "AddJourney";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddJourney</h2>

<form method="post" action="~/CarPooling/ActionAddJourney">
    <div class="form-group">
        <label for="CityDeparture">Ville de départ</label>
        <input type="text" name="CityDeparture" class="form-control" id="InputCityDeparture" placeholder="CityDeparture" required>
    </div>
    <div class="form-group">
        <label for="CityArrival">Ville de déstination</label>
        <input type="text" name="CityArrival" class="form-control" id="InputCityArrival" placeholder="CityArrival" required>
    </div>
    <div class="form-group">
        <label for="Date">Date</label>
        <input type="date" name="Date" class="form-control" id="InputDate" placeholder="Date" required>
    </div>
    <div class="form-group">
        <label for="AvailableSeats">Nombre de place disponible</label>
        <input type="number" name="AvailableSeats" class="form-control" id="InputAvailableSeats" placeholder="AvailableSeats" required>
    </div>
   

    <button type="submit" class="btn btn-default">S'enregistrer</button>
</form>