﻿@model CarPoolingWebApp.Models.ViewModelJourney
@using CarPooling;

@{
    ViewBag.Title = "AllJourney";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllJourney</h2>

<div class="table-responsive">
    <section>

        <table class="table table-striped">
            <tr>
                <td>
                    Ville de départ
                </td>
                <td>
                    Ville d'arrivée
                </td>
                <td>
                    Date
                </td>
                <td>
                    Nombre de participant
                </td>
                <td>
                    Participer
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    @{
                        foreach (Journey item in Model.ListJourney)
                        {
                            int acceptedUsers = Model.AcceptedUsers(item.IdJourney);
                            <form method="post" action="~/CarPooling/ActionParticipateJourney">
                                <table class="table table-striped">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" name="CityDeparture" class="form-control" id="InputCityDeparture" placeholder="CityDeparture" value="@item.CityDeparture" readonly>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" name="CityArrival" class="form-control" id="InputCityArrival" placeholder="CityArrival" value="@item.CityArrival" readonly>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="date" name="Date" class="form-control" id="InputDate" placeholder="Date" value="@item.Date" readonly>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" name="AvailableSeats" class="form-control" id="InputAvailableSeats" placeholder="AvailableSeats" value=" @acceptedUsers/@item.AvailableSeats" readonly>
                                            </div>
                                        </td>
                                        <td>
                                            @if (@acceptedUsers <= @item.AvailableSeats)
                                            {
                                                <input type="hidden" name="IdJourney" class="form-control" id="InputIdJourney" placeholder="IdJourney" value="@item.IdJourney" readonly>
                                                <button type="submit" class="btn btn-default">Participer</button>
                                            }
                                            else
                                            {
                                                <label type="text" name="idAvailableSeats" id="InputNoAvailableSeats" placeholder="NoAvailableSeats">NoAvailableSeats</label>
                                            }

                                        </td>

                                    </tr>
                                </table>
                            </form>

                        }
                    }


                </td>
            </tr>
        </table>





    </section>
</div>