﻿@using CarPooling;
@{
    @model CarPoolingWebApp.Models.ViewModelUser

    ViewBag.Title = "ModifyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SessionModel local = (SessionModel)Session["data"];
}

@if (local.IsAuthentified == true)
{

    <h2>ModifyProfile</h2>


    <form method="post" action="~/CarPooling/ActionModifiedProfil">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" name="Name" class="form-control" id="InputName" placeholder="@Model.Name" value="@Model.Name">
        </div>
        <div class="form-group">
            <label for="FirstName">FirstName</label>
            <input type="text" name="FirstName" class="form-control" id="InputFirstName" placeholder="@Model.FirstName" value="@Model.FirstName">
        </div>
        <div class="form-group">
            <label for="Adress">Address</label>
            <input type="text" name="Address" class="form-control" id="InputAdress" placeholder="@Model.Address" value="@Model.Address">
        </div>
        <div class="form-group">
            <label for="City">City</label>
            <input type="text" name="City" class="form-control" id="InputCity" placeholder="@Model.City" value="@Model.City">
        </div>
        <div class="form-group">
            <label for="PostalNumber">PostalNumber</label>
            <input type="text" name="PostalNumber" class="form-control" id="InputPostalNumber" placeholder="@Model.PostalNumber" value="@Model.PostalNumber">
        </div>
        <div class="form-group">
            <label for="DateBirth">DateBirth</label>
            <input type="date" name="DateBirth" class="form-control" id="InputDateBirth" placeholder="@Model.DateBirth" value="@Model.DateBirth">
        </div>
        <div class="form-group">
            <label for="PhoneNumber">PhoneNumber</label>
            <input type="text" name="PhoneNumber" class="form-control" id="InputPhoneNumber" placeholder="@Model.PhoneNumber" value="@Model.PhoneNumber">
        </div>
        <div class="form-group">
            <label for="CarDescription">CarDescription</label>
            <input type="text" name="CarDescription" class="form-control" id="InputCarDescription" placeholder="@Model.CarDescription" value="@Model.CarDescription">
        </div>
   
        <button type="submit" class="btn btn-default">Modifier</button>
    </form>
}
else
{
    <h3>Il faut être connecté pour accèder à cette page</h3>
}