﻿@model CarPoolingWebApp.Models.ViewModelReservation
@using CarPooling;

@{
    ViewBag.Title = "MyReservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SessionModel local = (SessionModel)Session["data"];
}
<h2>Mes reservations</h2>

<div class="table-responsive">
    <section>

        <table class="table table-striped">
            <tr>
                <td>
                    Voyage
                </td>
                <td>
                    Participants
                </td>
                <td>
                    Date
                </td>
                <td>
                    Nombre de participant
                </td>
            </tr>

            @{

                foreach (Journey item in Model.ListJourney)
                {
                    int acceptedParticipants = 0;

                    if (local.UserId == item.RefUser) {

                            @:<tr class="owner">
                            

                             } else {
                             @:<tr>
                             }
                            

                                @:<td>
                                    @:<div class="form-group">
                                        @:<input type="text" name="Journey" class="form-control" id="InputJourney" placeholder="Journey" value="@item.CityDeparture - @item.CityArrival" disabled>
                                    @:</div>
                                @:</td>
                                @:<td>
                                    @:<div class="form-group">

                                       
                                            foreach (KeyValuePair<User, bool?> asker in Model.ListJourneyUsers(item.IdJourney))
                                            {
                                                User usr = asker.Key;
                                                bool? state = asker.Value;
                                                acceptedParticipants = state == true ? acceptedParticipants + 1 : acceptedParticipants;
                                                String className = null == state ? "inProgress" : state == true ? "accepted" : "refused";
                                                @:<div class="@className d-inline-block">

                                                @usr.FirstName

                                                @:&nbsp;

                                                @usr.Name


                                                if (local.UserId == item.RefUser)
                                                {

                                                    @:<form style="display:inline;" method="post" action="/CarPooling/ActionAcceptUser">
                                                        @:<input type="hidden" name="pUserId" value="@usr.IdUser" />
                                                        @:<input type="hidden" name="pJourneyId" value="@item.IdJourney" />
                                                        @:<button type="submit" class="btn btn-default btn-sm">
                                                            @:<span class="glyphicon glyphicon-ok"></span>
                                                        @:</button>
                                                    @:</form>

                                                    @:<form style="display:inline;" method="post" action="/CarPooling/ActionRejectUser">
                                                        @:<input type="hidden" name="pUserId" value="@usr.IdUser" />
                                                        @:<input type="hidden" name="pJourneyId" value="@item.IdJourney" />
                                                        @:<button type="submit" class="btn btn-default btn-sm">
                                                            @:<span class="glyphicon glyphicon-remove"></span>
                                                        @:</button>
                                                    @:</form>
                                                @:</div>
                                                }
                                            @:</div>
                                        }
                                     
                                        
                                    
                                @:</td>
                                @:<td>
                                    @:<div class="form-group">
                                      @:  <input type="text" name="Date" class="form-control" id="InputDate" placeholder="Date" value="@item.Date" disabled>
                                    @:</div>
                                @:</td>
                                @:<td>
                                  @:  <div class="form-group">
                                    @:    <input type="text" name="Participants" class="form-control" id="InputParticipants" placeholder="Date" value="@acceptedParticipants/@item.AvailableSeats" disabled>
                                    @:</div>
                                @:</td>
                            @:</tr>
              
                    }
                }

        </table>


    </section>
</div>