﻿@using CarPooling;
@{

    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SessionModel local = (SessionModel)Session["data"];
}

@if (!local.IsAuthentified)
{

    <h2>S'enregistrer</h2>


    <form method="post" action="~/CarPooling/ActionRegister">
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" name="Username" class="form-control" id="InputUsername" placeholder="Username" required>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" name="Password" class="form-control" id="InputPassword" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" name="Name" class="form-control" id="InputName" placeholder="Name" required>
        </div>
        <div class="form-group">
            <label for="FirstName">FirstName</label>
            <input type="text" name="FirstName" class="form-control" id="InputFirstName" placeholder="FirstName" required>
        </div>
        <div class="form-group">
            <label for="Adress">Address</label>
            <input type="text" name="Address" class="form-control" id="InputAdress" placeholder="Adress" required>
        </div>
        <div class="form-group">
            <label for="City">City</label>
            <input type="text" name="City" class="form-control" id="InputCity" placeholder="City" required>
        </div>
        <div class="form-group">
            <label for="PostalNumber">PostalNumber</label>
            <input type="number" name="PostalNumber" class="form-control" id="InputPostalNumber" placeholder="PostalNumber" required>
        </div>
        <div class="form-group">
            <label for="DateBirth">DateBirth</label>
            <input type="date" name="DateBirth" class="form-control" id="InputDateBirth" placeholder="DateBirth" required>
        </div>
        <div class="form-group">
            <label for="Phone">PhoneNumber</label>
            <input type="number" name="PhoneNumber" class="form-control" id="InputPhone" placeholder="PhoneNumber" required>
        </div>
        <div class="form-group">
            <label for="CarDescription">CarDescription</label>
            <input type="text" name="CarDescription" class="form-control" id="InputCarDescription" placeholder="CarDescription" required>
        </div>

        <button type="submit" class="btn btn-default">S'enregistrer</button>
    </form>
}
else
{
    <h3>Tu es déjà connecté</h3>
}