﻿@using CarPooling;
@{
    @model CarPoolingWebApp.Models.ViewModelUser
    
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SessionModel local = (SessionModel)Session["data"];
}

@if (local.IsAuthentified == true)
{

    <h2>Profile @Model.Name</h2>


    <form class="form-horizontal">

        <table class="table table-bordered">

            <tr>
                <td>
                    Name :
                </td>
                <td>
                    @Model.Name
                </td>
            </tr>
            <tr>
                <td>
                    First Name :
                </td>
                <td>
                   @Model.FirstName
                </td>
            </tr>
            <tr>
                <td>
                    Address :
                </td>
                <td>
                   @Model.Address
                </td>
            </tr>
            <tr>
                <td>
                    City :
                </td>
                <td>
                   @Model.City
                </td>
            </tr>
            <tr>
                <td>
                    Postal Number :
                </td>
                <td>
                    @Model.PostalNumber
                </td>
            </tr>
            <tr>
                <td>
                    Dath Birth :
                </td>
                <td>
                    @Model.DateBirth
                </td>
            </tr>
            <tr>
                <td>
                    Phone :
                </td>
                <td>
                    @Model.PhoneNumber
                </td>
            </tr>


        </table>

    </form>
}
else
{
    <h3>Il faut être connecté pour accèder à cette page</h3>
}