﻿@{
    SessionModel local = (SessionModel)Session["data"];
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CarPooling", "Index", "CarPooling", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "CarPooling")</li>
                    <li>@Html.ActionLink("À propos de", "About", "CarPooling")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "CarPooling")</li>
                    @if (local.IsAuthentified)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trajets <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Afficher tous les trajets", "AllJourney", "CarPooling")</li>
                                <li>@Html.ActionLink("Proposer un trajet", "AddJourney", "CarPooling")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profil Utilisateur<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Afficher Profil", "UserProfil", "CarPooling")</li>
                                <li>@Html.ActionLink("Modifier Profil", "ModifyProfil", "CarPooling")</li>
                                <li>@Html.ActionLink("Mes Reservations", "MyReservations", "CarPooling")</li>
                            </ul>
                        </li>

                    }
                    @if (local.IsAuthentified)
                    {
                        <li>@Html.ActionLink("Deconnexion", "SignOut", "CarPooling")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Connexion", "Connexion", "CarPooling")</li>
                    }

                   

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            
            <p>Projet de semestre</p>
            <p>Apputhurai Sujevan, Frère Laurent, Currat Benjamin, Russo Giuseppe, Benitez Yan</p>
            <p>&copy; @DateTime.Now.Year - HEIG-VD</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
